// colors

$black: #000;
$white: #fff;
$blue: #2b87dc;
$dark-blue: #002d57;
$midnight: #02111f;
$gold: #c4a861;
//hover
$hover-blue: #41a4ff;
$hover-gold: #dec27b;
//bg

$bg-grey: #eff2f7;
$bg-light-blue: #eff2f7;
$bg-popup: rgba(3, 8, 27, 0.85);
$bg-popup-form: linear-gradient(143.48deg, #eff2f7 6.57%, #dde6f4 92.19%);

//decorate-words-color

$decorate-words-color: rgba(225, 233, 246, 0.4);
$decorate-popup-word-color: rgba(255, 255, 255, 0.5);

//placeholder-color

$placeholder-input-color: rgba(0, 45, 87, 0.4);

//popup
