.overflow {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
._container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
